body{
    background-color: rgb(255, 217, 0);
    
}
.logo{
    width: 100px;
    color: RED;
    font-size: 30px;
    font-weight: bold;
    margin-top: 1px;    
}
nav ul li{
    display: flex;
    display: inline-flex;
    
}
nav ul li a{
    flex: 1;
    text-align: center;
    padding: 20px;
    color: purple;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    padding-left: 300px;
}
h2{
    color: red;
    font-size: 20px;
}
h1{
    align-items: center;
}
#buy{
    cursor: pointer;
    border-radius: 30px;
    background-color: green;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
}
#buy:hover{
    box-shadow: 0 0 5px Green,
    0 0 25px Green, 0 0 50px Green,
    0 0 100px Green, 0 0 200px Green;
}
#update-cart-btn{
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
}
#update-cart-btn:hover{
    box-shadow: 0 0 5px black,
    0 0 25px black, 0 0 50px black,
    0 0 100px black, 0 0 200px black;
}
.add-to-cart{
    cursor: pointer;
    border-radius: 10px;
    background-color: pink;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
}
.add-to-cart:hover{
    box-shadow: 0 0 5px green,
    0 0 25px green, 0 0 50px green,
    0 0 100px green, 0 0 200px green;
}
.delete-product{
    cursor: pointer;
    border-radius: 10px;
    background-color: grey;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
}
.delete-product:hover{
    box-shadow: 0 0 5px red,
    0 0 25px red, 0 0 50px red,
    0 0 100px red, 0 0 200px red;
}
.remove-item{
    cursor: pointer;
    background-color: red;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
}
.remove-item:hover{
    box-shadow: 0 0 5px Green,
    0 0 25px Green, 0 0 50px Green,
    0 0 100px Green, 0 0 200px Green;
}
#product-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}
#product-list li{
    border: 2px solid black;
    box-shadow: 0 2px 2px pink;
    padding: 20px;
}

#client-info-form{
    display: flex;
    padding-left: 10px;
}
#post-product-form {
  display: flex;
}

